

<nz-code-editor
  class="editor"
  [nzEditorOption]="{theme: 'vs-dark'}"
  [nzFullControl]="true"
  (nzEditorInitialized)="onEditorInit($event)"
  [nzToolkit]="toolkit"
></nz-code-editor>

<ng-template #toolkit>
  <nz-select class="select" [(ngModel)]="language" (ngModelChange)="changeLanguage()">
    <nz-option nzValue="less" nzLabel="Less"></nz-option>
    <nz-option nzValue="scss" nzLabel="Scss"></nz-option>
  </nz-select>
</ng-template>


<nz-code-editor
  class="editor"
  [nzEditorOption]="{theme: 'vs-dark'}"
  [nzFullControl]="true"
  (nzEditorInitialized)="onResultEditorInit($event)"
></nz-code-editor>
