<button nz-button nzType="primary" (click)="handle()">测试</button>
<br />
<input placeholder="@btn-primary-color" [(ngModel)]="btnPrimaryColor" (ngModelChange)="change('btnPrimaryColor')" />
<input placeholder="@btn-primary-bg: @primary-color;" [(ngModel)]="btnPrimaryBg" (ngModelChange)="change('btnPrimaryBg')" />
<input placeholder="@btn-height-base" [(ngModel)]="btnHeightBase" (ngModelChange)="change('btnHeightBase')" />
<input placeholder="@btn-height-lg" [(ngModel)]="btnHeightLg" (ngModelChange)="change('btnHeightLg')" />
<input placeholder="@btn-height-sm" [(ngModel)]="btnHeightSm" (ngModelChange)="change('btnHeightSm')" />
<input placeholder="@height-base" [(ngModel)]="heightBase" (ngModelChange)="change('heightBase')" />


<!--@btn-height-base: @height-base;-->
<!--@btn-height-lg: @height-lg;-->
<!--@btn-height-sm: @height-sm;-->
